<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duang.easyecard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.AppStart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Activity.BaseActivity">
        </activity>
        
        <activity
            android:name=".Activity.ActivityCollector">
        </activity>
        
        <activity
            android:name=".Activity.MainActivity">
        </activity>
        
        <activity 
            android:name=".Activity.LoginActivity"
            android:label="@string/login">
        </activity>
        
        <activity 
            android:name=".Activity.SignupActivity"
            android:label="@string/signup">
        </activity>
        
        <activity 
            android:name=".Activity.AddLostEventActivity"
            android:label="@string/add_lost_event">
        </activity>
        
        <activity 
            android:name=".Activity.AddFoundEventActivity"
            android:label="@string/add_found_event">
        </activity>
        
        <activity 
            android:name=".Activity.SearchResultActivity"
            android:label="@string/search_result">
            <intent-filter> 
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter> 
            <meta-data android:name="android.app.searchable"
                 android:resource="@xml/searchable"/>      
        </activity>

        <activity 
            android:name=".Activity.EventDetailsActivity"
            android:label="@string/event_details">
        </activity>
        
        <activity 
            android:name=".Activity.AlterEventActivity"
            android:label="@string/alter_event">
        </activity>
        
        <activity 
            android:name=".Activity.WebViewActivity"
            android:label="@string/web_view">
        </activity>
        
        <activity 
            android:name=".Activity.NotificationActivity"
            android:label="@string/notification">
        </activity>
        
        <activity 
            android:name=".Activity.PersonalInfoActivity"
            android:label="@string/personal_info">
        </activity>
        
        <activity 
            android:name=".Activity.ChangePersonalInfoActivity"
            android:label="@string/change_personal_info">
        </activity>
        
        <activity 
            android:name=".Activity.ChangeUserpicActivity"
            android:label="@string/change_userpic">
        </activity>
        
        <activity 
            android:name=".Activity.ViewBigUserpicActivity"
            android:label="@string/view_big_userpic">
        </activity>
        
        <activity 
            android:name=".Activity.EventAboutMeActivity"
            android:label="@string/event_about_me">
        </activity>
        
        <activity 
            android:name=".Activity.EventByMeActivity"
            android:label="@string/event_by_me">
        </activity>
        
        <activity 
            android:name=".Activity.ChangePasswordActivity"
            android:label="@string/change_password">
        </activity>
        
    </application>

</manifest>
